/*Universal Styles*/
#bodywrap {
  max-width: 1200px;
  margin: 0 auto;
}

#head1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo1 {
  margin: 8px 0 0;
}

h4 {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: rgb(193, 39, 45);
  max-width: 60%;
  margin: 15px 0 5px;
  text-align: center;
}

.descript {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  text-align: justify;
}

.quote {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  text-align: center;
  padding-top: 40px;
}

.credit {
  font-family: 'Teko', sans-serif;
  font-style: italic;
  font-size: 28px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}

#start {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 32px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  border: solid 2px rgb(255, 255, 255);
  width: 60%;
  text-align: center;
}

.contact {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 10px ;
  text-align: center;
  text-decoration: underline;
}

.copy {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 10px ;
  text-align: center;
}

/*Navigation Toggle Styles*/

a.mobile_menu {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 24px;
}

/*Navigation Styles*/
nav {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 6px 0;
  height: 0px;
  overflow: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

nav li {
  display: inline-block;
  text-align: center;
  margin: 3% 0;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav a:hover {
  text-decoration: none;
  color: rgb(193, 39, 45);
}

nav li.active {
  color: rgb(193, 39, 45);
  text-decoration: underline;
  cursor: default;
}

/*Section Styles*/
.topix {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 40px;
  max-width: 70%;
}

.topimg {
  width: 50px;
  height: auto;
}

#sect2 {
  background-color: rgb(193, 39, 45);
  height: 300px;
}

/*Media Queries*/
@media (min-width: 600px) {

  /*Navigation Style*/
  .navheader {
  }

  .mobile_menu {
    display: none;
  }

  nav {
    margin-top: 30px;
    height: auto;
    padding: 5px;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    margin: -5px 15px;
  }

  .arrow {
    display: none;
  }

@media (min-width: 750px) {

  /*Universal Styles*/
  #head1 {
    flex-direction: row;
    justify-content: space-between;
  }

  #logo1 {
    margin-left: 10px;
  }

  h4 {
    max-width: 50%;
  }

  .descript {
    max-width: 75%;
  }

  #start {
    margin: 200px auto 0;
    width: 300px;
    text-align: center;
  }

  .credit {
    text-align: right;
    margin-right: 10%;
  }

  /*Navigation Style*/
  nav {
    align-self: flex-end;
  }
  nav ul {
    flex-direction: row;
    align-self:
  }

  nav li {
    margin: -5px 15px;
  }

  /*Section Style*/
  #sect1 {
    display: flex;
  }

  #sect2 {
    display: flex;
    justify-content: space-around;
  }

  #inspire {
    width: 50%;
  }

}
