/*Universal Styles*/
#bodywrap {
  max-width: 1200px;
  margin: 0 auto;
}

#head1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo1 {
  margin: 8px 0 0;
  width: 180px;
}

.piclogo {
  width: 180px;
}

.arrow {
  width: 17px;
}

h4 {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: rgb(193, 39, 45);
  max-width: 75%;
  margin: 15px 0 5px;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

p {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

.descript {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  text-align: justify;
}

.quote {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  text-align: center;
  padding-top: 40px;
}

.credit {
  font-family: 'Teko', sans-serif;
  font-style: italic;
  font-size: 28px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.contact {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 10px ;
  text-align: center;
  text-decoration: underline;
}

.copy {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 10px ;
  text-align: center;
}

.feature {
  width: 100%;
  margin-bottom: 40px;
}

/*Navigation Toggle Styles*/

a.mobile_menu {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 24px;
}

/*Navigation Styles*/
nav {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 6px 0;
  height: 0px;
  overflow: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

nav li {
  text-align: center;
  margin: 3% 0;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav a:hover {
  text-decoration: none;
  color: rgb(193, 39, 45);
}

nav li.active {
  color: rgb(193, 39, 45);
  text-decoration: underline;
  cursor: default;
}

/*Button Style*/

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shell {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.shell2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button1 {
  position: relative;
  width: 75%;
  border: 2px solid rgb(255, 255, 255);
}

.button2 {
  position: relative;
  width: 100%;
  padding: 0px 20px;
  border: 2px solid rgb(193, 39, 45);
}

.hover1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: none;
}

.hover2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(193, 39, 45);
  display: none;
}

h3 {
  font-family: 'Teko', sans-serif;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  margin: 5px auto;
}

.faded1 {
  color: rgb(193, 39, 45);
}

/*Section Styles*/
.topix {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 40px;
  max-width: 70%;
}

.topimg {
  width: 50px;
  height: auto;
}

.topimg2 {
  width: 75px;
  height: auto;
}

#sect2 {
  flex-direction: column;
  background-color: rgb(193, 39, 45);
  height: 300px;
}

#sect3 {
  background-color: rgb(193, 39, 45);
  height: 3px;
}


/*Media Queries*/
@media (min-width: 600px) {

  /*Navigation Style*/
  .navheader {
  }

  .mobile_menu {
    display: none;
  }

  nav {
    margin-top: 30px;
    height: auto;
    padding: 10px;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    margin: -5px 15px;
  }

  .arrow {
    display: none;
  }

@media (min-width: 750px) {

  /*Universal Styles*/
  #head1 {
    flex-direction: row;
    justify-content: space-between;
  }

  #logo1 {
    margin-left: 10px;
  }

  h4 {
    max-width: 50%;
  }

  .button-container {
    justify-content: space-around;
    margin: 50px;
  }

  .shell {
    width: 300px;
  }

  .shell2 {
    margin-top: 100px;
  }

  .descript {
    max-width: 75%;
  }

  .credit {
    text-align: right;
    margin-right: 10%;
  }

  /*Navigation Style*/
  nav {
    align-self: flex-end;
  }
  nav ul {
    flex-direction: row;
    align-self:
  }

  nav li {
    margin: 0px 15px;
  }

  /*Section Style*/
  #sect1 {
    display: flex;
  }

  #sect2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  #inspire {
    width: 50%;
  }

}

@media (min-width: 1200px) {

.quote {
  margin-left: 30px;
}
}
